* {
  /* to have padding and border included in width and height */
  box-sizing: bordex-box;
}
body {
  background-color: #457b9d;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
}

h1 {
  color: #ff9100;
  text-align: center;
  margin: 15px 0 0;
}
#message-box {
  text-align: center;
  border-style: solid;
  border-color: #caf0f8;
  border-radius: 20px;
  background-color: #023e8a;
  padding: 5px;
}

h2 {
  color: #f1faee;
  margin: 0;
  /* background-color: red; */
}

#canvas-container {
  text-align: center;
  border-style: solid;
  border-color: #caf0f8;
  margin-top: 15px;
  margin-bottom: 15px;
}

canvas {
  height: 300px;
  width: 300px;
}

#letter-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  width: 50%;
  background-color: #023e8a;
  border-style: solid;
  border-color: #caf0f8;
  border-radius: 20px;
  padding: 1em;
}
.letter {
  font-size: 23px;
  border-color: #caf0f8;
  background-color: #2873d5;
  color: #f1faee;
  margin: auto;
}

.letter:disabled {
  font-size: 23px;
  border-color: #caf0f8;
  background-color: #023e8a;
  color: #819a78;
  margin: auto;
}

#guess-input-slot {
  font-size: 24px;
  margin-top: 15px;
  color: #f1faee;
  font-weight: bold;
  border: double;
  border-color: #caf0f8;
  background-color: #023e8a;
  padding: 3px 5px;
}

#reset-button {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 15px;
  color: #f1faee;
  border-style: solid;
  border-color: #caf0f8;
  background-color: #023e8a;
}
